html, body {
  overflow: hidden;
  margin: 0;
}

html {
  background: #14191C;
}

p {
  position: absolute;
  bottom: 1em;
  width: 100%;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}